#user_input{
    width:200px;
    height: 50px;
}
#submit_button{
    height: 54px;
    border-radius: 10px;
    border: none;
    color: #fff4f4;
    background: #E91E63;
}
#restart_button{
    height: 54px;
    border-radius: 10px;
    border: none;
    color: #fff4f4;
    background: #F44336;
}